<!DOCTYPE html>

<html>





<style>
body {
    background-color:lightblue;
}
/* unvisited link */
a:link {color: blue;}

/* visited link */
a:visited {color: red;}

/* mouse over link */
a:hover {color: green;}

/* selected link */
a:active {color: yellow;}



</style>



</html>
