!DOCTYPE html>

<html>





<style>
body {
    background-color:rgb(35,41,98);
}
/* unvisited link */
a:link {color: green;}

/* visited link */
a:visited {color: yellow;}

/* mouse over link */
a:hover {color: red;}

/* selected link */
a:active {color: orange;}



</style>



</html>
