body {background-color: powderblue;}

h1 {color: darkblue; font-family: Verdana; font-size: 200%;}
h2 {color: darkblue; font-family: Verdana; font-size: 150%;}
p {color: black; font-family: Courier; font-size: 150%;}


/* unvisited link */

a:link {

    color: blue;

}



/* visited link */

a:visited {

    color: red;

}



/* mouse over link */

a:hover {

    color: green;

}



/* selected link */

a:active {

    color: pink;

}
